
TARGET_OS=FreeBSD 14.4-STABLE

JAVA_HOME=${HOME}/jdk-17
WILDFLY_HOME=${HOME}/wildfly/wildfly-40.0.0.Final

PORTBASE=32318


WILDFLY_BIND_ADDRESS=0.0.0.0
WILDFLY_MANAGEMENT_BIND_ADDRESS=127.0.0.1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SCHEMA=public


CAMUNDA_ENABLED=true
CAMUNDA_BASE_URL=http:
CAMUNDA_USERNAME=
CAMUNDA_PASSWORD=
CAMUNDA_FAIL_ON_ERROR=false
CAMUNDA_WORKER_ENABLED=true

APP_HOME=${HOME}/hh-process
NARAYANA_LOG_DIR=${APP_HOME}/transaction-logs
NARAYANA_NODE_IDENTIFIER=hh-process-helios
NARAYANA_DEFAULT_TIMEOUT=60
APP_SECURITY_USERS_XML=${APP_HOME}/data/users.xml
WS_ALLOWED_ORIGINS=*

JAVA_OPTS=-Xms128m -Xmx512m
