POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SCHEMA=public
JWT_SECRET=
SERVER_PORT=8080
NARAYANA_LOG_DIR=./transaction-logs
NARAYANA_NODE_IDENTIFIER=hh-process-local
NARAYANA_DEFAULT_TIMEOUT=60

APP_SECURITY_USERS_XML=./data/users.xml

DB_TUNNEL_REMOTE_HOST=127.0.0.1
DB_TUNNEL_REMOTE_PORT=5432
