# Database
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SCHEMA=public
POSTGRES_PORT_EXTERNAL=5432

# Local HTTP mapping: host_port:container_wildfly_http_port
APP_PORT=8080
WILDFLY_HTTP_PORT=8080
WILDFLY_MANAGEMENT_PORT=9990
WILDFLY_MANAGEMENT_HTTP_PORT=9990
WILDFLY_AJP_PORT=8009
WILDFLY_HTTPS_PORT=8443
WILDFLY_MANAGEMENT_HTTPS_PORT=9993

# Helios-like local example with portbase=32318:
# APP_PORT=32318
# WILDFLY_HTTP_PORT=32318
# WILDFLY_AJP_PORT=32319
# WILDFLY_HTTPS_PORT=32320
# WILDFLY_MANAGEMENT_PORT=32321
# WILDFLY_MANAGEMENT_HTTP_PORT=32321
# WILDFLY_MANAGEMENT_HTTPS_PORT=32322

# Application
NARAYANA_NODE_IDENTIFIER=hh-process-wildfly-local
NARAYANA_DEFAULT_TIMEOUT=60
WS_ALLOWED_ORIGINS=http://localhost:3000

# Camunda 7 Run standalone service
CAMUNDA_PORT=8081
CAMUNDA_ADMIN_USER=admin
CAMUNDA_ADMIN_PASSWORD=admin
CAMUNDA_ENABLED=true
CAMUNDA_WORKER_ENABLED=true
CAMUNDA_FAIL_ON_ERROR=false
